:root {
    --redcolor: red;
    --blackcolor: rgba(7, 7, 7, 0.87);
    --whitecolor: rgba(255, 255, 255, 0.658);
    --orangecolor: rgb(255, 0, 179);
   
}

/* header */

.menu {
    width: 100%;
    height: 90px;
    background-color:var(--orangecolor);
    display: flex;
    border-radius: 220px;
    padding: 0 30px;

    >* {
        /* border: 1px solid black; */
        height: 100%;
        margin: 0;
    }

    >ul {
        width: 75%;
        display: flex;
    

        >li {
            /* border: 1px solid white; */
            position: relative;
           

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            &::before {
                content: '';
                display: flex;
                width: 0;
                height: 3px;
                background-color: rgb(255, 0, 0);
                position: absolute;
                bottom: 20px;
                right: 0;
                transition: 1s;
            }

            >a {

                text-decoration: none;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                height: 100%;
                display: flex;
                /* border: 1px solid black; */
                align-items: center;
                padding: 0 20px;
                position: relative;
                z-index: 99;

            }
        }
    }
.zz{
    width: 100%;
    height: 100%;
    >span{
        display: flex;
        >i{
            &:first-of-type{
                    font-size: 60px;
            color: white;
            padding: 20px;
           margin-left: 470px;
           transition: 1s;
            }
            &:last-of-type{
                font-size: 60px;
                color: white;
                padding: 20px;

            }
        &:hover{
            color: rgb(255, 0, 0);
        
        }
        }
    }
}

}
/* -----end header----- */

/* -----tet------ */
.tet{
    width: 100%;
    height: 100vh;
    >h3{
        font-size: 50px;
        color:var(--orangecolor);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px 0;
    }
    >h1{
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -120px;
    background: linear-gradient( 90deg, #00ffff, #ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
/* ------end tet------  */

/* -----figur------ */
.img{
    width: 100%;
    height: 100%;
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: -240px;
    }
}
/* -----end figur------  */
/* ------section------ */


.hero {
    display: flex;
    min-height: 100vh;
    width: 100%;
  

    >.img {
        width: 50%;

        >img {
            width: 100%;
            height: 90%;
            object-fit: cover;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 0 5%;
            border-radius: 80px 80px;
        }

    }

    .txt {
        width: 50%;
        padding: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    

        >h1 {
            font-size: 30px;
            color: var(--orangecolor);
            margin-top: 40px;
        }

        >p {
            font-size: 20px;
            color: #ec04a781;
        
        }
    }
}
/* <!-- -----end section ------  --> */
 /* <!-- ------- donut- marquee------  --> */
.donut-marquee {
  padding: 16px 0;
  border-radius: 12px;
  margin: 20px 0;
}

.donut-marquee marquee {
  font-size: 20px;
  font-weight: 600;
  color: var(--orangecolor);
}
 /* <!-- -------  end donut- marquee------  --> */

/* ------dont------- */
.dont{
    display: flex;
    min-height: 100vh;
    width: 100%;
  

    >.img {
        width: 120%;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 45%;
            margin-bottom: 5%;
            padding: 0 5%;
        }

    }

    .tet {
        width: 50%;
        padding: 30px;
        justify-content: center;
        text-align: center;
    

        >h2 {
            font-size: 55px;
            color: var(--orangecolor);
            margin-left: -100%;
            margin-top: 35%;
               font-family: "Bebas Neue", sans-serif;
        }

        >p {
            font-size: 25px;
            color: #ff02b369;
             margin-left: -100%;
        
        }
    }
}
/* -----end dont-------  */

/* ---------faq-------- */

.faq {
  font-family: Arial, sans-serif;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

>h2 {
  font-size: 60px;
  color:var(--orangecolor);
  margin-bottom: 30px;
  text-align: center;
}
.row {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); 
  max-width: 1200px;
}
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  >img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}

.q {
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.q input { display: none; }

.q label {
  display: block;
  background:var(--orangecolor);
  color: white;
  padding: 18px 24px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  user-select: none;
  transition: 0.8s;
}

.q label:hover { background: #3333cc; }

/* -----end faq------  */
/* ------icon------- */
.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 60px 40px;
  text-align: center;
  flex-wrap: wrap; 
}

.item {
  flex: 1;
  /* min-width: 200px; */
}

.icon {
  width: 100px;
  height: 100px;
  background: #000000; 
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40% 60% 55% 45%; 
  transition: transform 0.3s, background-color 0.3s;
}

.icon i {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.item h3 {
  font-size: 20px;
  color:var(--orangecolor); 
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  color: #ff05ac73;
  line-height: 1.6;
}


.item:hover .icon {
  transform: scale(1.2) translateY(-5px);
  background-color: #f0577b; 
}

/* -----end icon----  */
.vdio{
    padding: 45px;
    width: 100%;
    height: 130vh;
    overflow: hidden;

}
/* -----footer------ */


.fixed-profile {
    position: fixed;
    left: 20px;
    bottom: 7px;
    display: flex;
    align-items: center;
    gap:0;
    z-index: 9999;
}


.title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 13px;
    color: #000000;
    margin-left: -6px;
}


.circle-wrapper {
    position: relative;
    width: 170px;
    height: 170px;
    margin-left: -22px;
}


.circle-wrapper img {
    width: 130px;
    height: 130px;
    border-radius: 50% 80% 50% 60%;
    object-fit: cover;
    border: 3px solid #eee;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.icon {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #fffefe;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
    font-size: 17px;

    opacity: 0;
    transform: scale(6px);
    transition: 0.4s;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.circle-wrapper:hover .icon {
    opacity: 1;
}


.icon:nth-child(5) { top: 10%;left: 75%; }  
.icon:nth-child(3) { top: 30%;left: 85%; }  
.icon:nth-child(4) { top: 53%; left: 85%; }  
.icon:nth-child(2) { top: 73%;left: 75%; } 

.instagram {
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.telegram {
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}

.github {
    bottom:0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.mail {
   left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}


.circle-wrapper:hover .icon {
    opacity: 1;
    transform: scale(1);
}


.icon:hover {
    background: #ff7a00;
    color: #ffffff;
}
/* ------footer----- */


.end-section {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dd0d864d;
}

.end-card {
  width: 550px;
  padding: 30px 25px;
  /* background: #111827; */
  border-radius: 73% 27% 70% 30% / 37% 66% 34% 63% ;
  text-align: center;
  color: #fff;
  position: relative;
}

.end-img {
  width: 250px;
  height: 250px;
  margin: 0 auto 15px;
  border-radius: 45% 55% 60% 40% / 45% 40% 60% 55%;;
  overflow: hidden;
  border: 3px solid #000000;
}

.end-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.end-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.end-text {
  font-size: 16px;
  line-height: 1.8;
  color: #000000b2;
  margin-bottom: 20px;
}

.end-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

